/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Inizio header */
header{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

header .box_logo{
    width: 100%;
    margin-bottom: 30px;
}

.box_logo .logo_img{
    border-right: 2px solid rgb(90, 90, 184);
    padding-right: 20px;
}

header ul li{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

header ul li a{
    text-decoration: none;
}

/* Inizio main */
main{
    margin-bottom: 10px;
}

section .box_main_alto{
    width: 100%;
    margin-bottom: 20px;
    height: 800px;
    position: relative;
}

.box_main_alto .img_text{
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 20px;
    bottom: 100px;
    left: 50px;
    width: 50%;
}

.box_main_alto .img_text h3{
    font-size: 35px;
    font-weight: 500;
}

.box_main_alto .bg_color{
    background-color: rgba(216, 66, 66, 0.4);
    z-index: 5;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    border-radius: 15px;
}

.box_main_alto .yoga_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

section .box_main_basso{
    width: 100%;
    float: left;
    /* Debug */
    background-color: rgb(70, 16, 70);
}

.box_main_basso::after{
    content: "";
    display: table;
    clear: both;
}

.box_main_basso .row_alta{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-size: 20px;
}

.row_alta h1{
    font-size: 50px;
}

.row_alta p{
    color: gray;
}

.box_main_basso .row_media .smallbox{
    float: left;
    margin-bottom: 20px;
    /* Debug */
    background-color: rgb(143, 58, 143);
}

.row_media .sbox_left{
    width: 20%;
}

.picture{
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
    position: relative;
}

.picture .bg_color_sbox{
    background-color: rgba(216, 66, 66, 0.4);
    z-index: 5;
    width: 100%;
    height: 320px;
    position: absolute;
    top: 0;
    border-radius: 15px;
}

.sbox_left .picture .img_left{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.smallbox .picture_title{
    font-weight: 600;
    margin-bottom: 10px
}

.smallbox p{
    color: gray;
}

.row_media .sbox_middle{
    width: 56%;
    margin: 0 2%;
    /* Debug */
    height: 500px;
}

.row_media .sbox_right{
    width: 20%;
    /* Debug */
    height: 500px;
}

/* Inizio footer */
footer::after{
    content: "";
    display: table;
    clear: both;
}

footer .ringraziamenti{
    width: 100%;
    float: left;
    /* Debug */
    height: 40px;
    background-color: blue;
}