/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* Inizio header */
header{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

header .box_logo{
    width: 100%;
}

.box_logo .logo_img{
    border-right: 2px solid rgb(90, 90, 184);
    padding-right: 20px;
}

header ul li{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

header ul li a{
    text-decoration: none;
}

/* Inizio main */
main{
    margin-bottom: 10px;
    /* Debug */
    /* border: 4px solid rgb(56, 44, 128); */
}

section .box_main_alto{
    width: 100%;
    margin-bottom: 20px;
    /* Debug */
    height: 400px;
    background-color: rgb(96, 150, 65);
}

section .box_main_basso{
    width: 100%;
    float: left;
    /* Debug */
    background-color: rgb(216, 107, 216);
}

.box_main_basso::after{
    content: "";
    display: table;
    clear: both;
}

.box_main_basso .row_alta{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    /* Debug */
    height: 80px;
    background-color: rgb(143, 58, 143);
}

.box_main_basso .row_media .smallbox{
    float: left;
    margin-bottom: 20px;
    /* Debug */
    background-color: rgb(143, 58, 143);
}

.row_media .sbox_left{
    width: 25%;
    /* Debug */
    height: 500px;
}

.row_media .sbox_middle{
    width: 46%;
    margin: 0 2%;
    /* Debug */
    height: 500px;
}

.row_media .sbox_right{
    width: 25%;
    /* Debug */
    height: 500px;
}

/* Inizio footer */
footer::after{
    content: "";
    display: table;
    clear: both;
}

footer .ringraziamenti{
    width: 100%;
    float: left;
    /* Debug */
    height: 40px;
    background-color: blue;
}